@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #112B3C,#205375,#F66B0E,#EFEFEF);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* header */

.header-container {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(255, 254, 254); */
    /* background-image: url('./img/background.png'); */
    /* background-repeat: no-repeat; */
    /* background-position:center; */
    /* background-size: contain; */
    display: flex;
    flex-direction:column;
    justify-content:center;
    /* align-items:flex-start; */
    /* box-sizing:border-box; */
    /* padding:0 90px; */
    position:absolute;
}

h1 {
    font-size: 50px;
    text-transform:uppercase;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 300px; */
}

.social-media {
    margin-top: 1rem;
    display: flex;
    /* margin-left: 1rem; */
}

.social-media a {
    text-decoration: none;
    color:black;
    padding: 1rem 4rem;
    border:1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: antiquewhite;
}

/* menu hambuguer */

.checkbox-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    justify-content: center;
    cursor:pointer;
    z-index:9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top:20px;
    transform:(0);
}

.checkbox .trace:nth-child(2) {
    top:40px;
    transform:rotate(0);
}

.checkbox .trace:nth-child(3) {
    top:60px;
    transform: rotate(0);
}

#toggle {
    display: none;
}
/* menu */

.menu {
    position: absolute;
    top:28px;
    right:30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #112B3C;
    z-index:-1;
    transition: 400ms ease-in-out 0s; 
}

.menu-items {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: justify;
    z-index:2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 20px 0;
    color:whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:27px;
}
/* animação do menu */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform:rotate(45deg);
    top:47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform:translate(-100px);
    width:30px;
    visibility: hidden;
    opacity:0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform:rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: transparent;
}


#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax transparent;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/*definir as propriedades do menu*/

nav ul li {
    float: none;
    color: rgb(255, 72, 0);
    width: auto;
    margin: 0.8em;
    font-size: 1.5em;
    font-family: arial;
    list-style: none;
}

nav ul li a:hover {
    color: #b13030 !important;
}

ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding:20px;
}
img {
    padding: 0px;
    /* max-width: 900px; */
    /* border-style: inset; */
    /* border-color: #5865f2;  */
    border-radius:50%;
    /* margin-bottom: 0px; */
    /* border:px solid blue; */
    /* margin-left: 100px; */
    margin-top: 200px;
    margin-right:-20px;
}
a {
    text-decoration:none !important;
    font-size:18px;
    color: whitesmoke!important;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #b13030 !important;
}
section {
    /* background-color:#5865f2; */
    /* border-radius:10px; */
    /* max-width: 200px; */
    /* margin:auto; */
    padding: 5px;
    float:right;
    margin-left: 0px;
    margin-right: 100px;
}

.card-text {
    text-align: justify;
    margin-right: 400px;
    font-size: bold 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;   
}
